apiVersion: v1
kind: Secret
metadata:
  name: common-secret
  namespace: event-flow-market
type: Opaque
stringData:
  JWT_SECRET: "<your-jwt-secret-at-least-32-characters>"
  MEMBER_DB_PASSWORD: "<your-member-db-password>"
  ORDER_DB_PASSWORD: "<your-order-db-password>"
  STOCK_DB_PASSWORD: "<your-stock-db-password>"